body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: white;
}

.img-container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: opacity 1s ease-in;
}

.img-container img {
    transition: transform 1s ease-out, top 3s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes explode {
    0% { transform: translate(0, 0); }
    100% { transform: translate(var(--x), var(--y)); }
}
