body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: white;
}

.img-container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: opacity 1s ease-in;
}

.img-container img {
    width: 50px;
    transition: transform 0.5s ease-out, top 1s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
