body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: white;
}

.img-container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    animation: fadeIn 1s;
}

.img-container img {
    position: absolute;
    transition: transform 4s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes explodeAndSpin {
    0% { transform: translate(0, 0) rotate(0deg); opacity: 1; }
    100% { transform: translate(var(--x), var(--y)) rotate(var(--rotation)); opacity: 1; }
}
